.lenis.lenis-smooth {
  scroll-behavior: auto;
}
html.lenis {
  height: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.sticky-element[fixed-sticky][data-stickin="1"] > [fixed-sticky-el] {
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: 10;
}
.sticky-element[fixed-sticky][data-stickout="1"] {
  transform: translate3d(0, calc((var(--st_parent_height) - var(--st_height) - var(--st_top)) * 1px), 0);
}
.Alpscroll [css3-sticky] {
  position: sticky;
  top: 0;
  z-index: 10;
}
